.mss-logo-header {
  margin-top: 10px;

  .mss-logo {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
  }
}

.mss-separator {
  border-bottom: 1px solid #787878;
  border-top: 1px solid #262626;
}