.mss-presentation {
  text-align: center;
  box-shadow: 0 0 20px 0 #27165a;
  border-radius: 20px;
  padding: 50px 20px;
  background: #00000073;
  max-width: 1000px;
  margin: 0 auto;

  .mss-image-profile {
    max-width: 400px;
    border: 19px solid #312574;
    border-radius: 50%;
  }

  .mss-typed-presentation {
    color: #eeeeee;
    font-size: 3em;

    span {
    }
  }
}