.mss-presentation {
  text-align: center;
  box-shadow: 0 0 20px 0 #27165a;
  border-radius: 20px;
  padding: 50px 20px;
  background: #00000073;
  max-width: 1000px;
  margin: 0 auto;

  .mss-image-profile {
    max-width: 400px;
    border: 19px solid #312574;
    border-radius: 50%;
  }

  .mss-typed-presentation {
    color: #eeeeee;
    font-size: 3em;

    span {
    }
  }

  h1 {
    &.mss-first {
      font-family: Karla, sans-serif;
      font-weight: 300;
      text-transform: uppercase;
      text-shadow: 1px 0 5px #000000;
    }
  }

  h2 {
    &.mss-second {
      font-family: "Titillium Web", sans-serif;
      font-weight: 200;
      background: linear-gradient(45deg, black, transparent);
      max-width: 400px;
      margin: 0 auto;
      border: 1px solid #5c50c58c;
      padding: 11px 0;
      border-radius: 6px;
    }
  }
}