.card {
  &.bss-card-project {
    border: none;
    background: transparent;
    margin-bottom: 25px;

    .card-body {
      color: #fff;
      border-radius: 5px;
      background: linear-gradient(224deg, #000000ab 0%, #201330a6 100%);
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch;
      align-content: stretch;
      padding: 0;

      .bss-tech-icon {
        background: #162184;
        background: -moz-linear-gradient(112deg, #6730a3 0%, #ffffff 100%);
        background: -webkit-linear-gradient(112deg, #6730a3 0%, #ffffff 100%);
        background: linear-gradient(112deg, #6730a3 0%, #ffffff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#162184', endColorstr='#20687c', GradientType=0);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
        margin: 0 5px;
        border: 1px solid #6f69bf;
        border-radius: 4px;
        font-size: 0.5em;
        padding: 2px 9px;

        &:hover {
          background: -moz-linear-gradient(112deg, #fff 0%, #6730a3 100%);
          background: -webkit-linear-gradient(112deg, #fff 0%, #6730a3 100%);
          background: linear-gradient(112deg, #fff 0%, #6730a3 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      p.card-text {
        font-size: 16px !important;
      }
    }

    .bss-btn-primary {
      background: #1b0736;
      border: none;
      text-transform: uppercase;
      font-size: 13px;

      &:hover {
        background: #26084d !important;
      }
    }

    .bss-description-card {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      padding-top: 30px;
      padding-right: 10px;
      padding-bottom: 10px;
    }

    .bss-content-card {
      padding: 0 10px 10px;
    }

    .bss-technologies {
      margin: 0 0 10px 0;
    }
  }
}

.bss-container-project {
  .bss-project-item {
    display: flex;
  }
}
